<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lopes Concept - Gestão Esportiva</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="reset.css">
    </head>
    <body>
        <header>
            <div class="caixa">
                <h1><img src="images/logo.jpeg" alt="logo" id="imageLogo"></h1>
                
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="gestaoEsportiva.html">Gestão</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <form class="formulario">
                <label for="nome">Nome e Sobrenome</label>
                <input type="text" id="nome">

                <label for="email">Email</label>
                <input type="text" id="email">

                <label for="telefone">Telefone</label>
                <input type="text" id="telefone">
                
                <label for="mensagem">Mensagem</label>
                <textarea cols="70" rows="10" id="mensagem"></textarea>

                <div>
                    <p>Eu sou</p>

                    <label for="radio-piloto">Piloto</label>
                    <input type="radio" name="tipoUsuario" value="piloto" id="radio-piloto">

                    <label for="radio-parceiro">Parceiro</label>
                    <input type="radio" name="tipoUsuario" value="parceiro" id="radio-parceiro">

                    <label for="radio-usuario">Usuário</label>
                    <input type="radio" name="tipoUsuario" value="usuario" id="radio-usuario">

                    <input type="submit" value="Enviar Formulário">
                </div>

                <label><input type="checkbox">Gostaria de receber novidades por email?</label>
            </form>

        </main>
        <footer>
            <img src="images/Paper-pencil.png">
            <p class="copright">&copy;All Rights reserved Lopes Concept®</p>
        </footer>
    </body>
</html>