<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lopes Concept - Gestão Esportiva</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="reset.css">
    </head>
    <body>
        <header>
            <div class="caixa">
                <h1><img src="images/logo.jpeg" alt="logo" id="imageLogo"></h1>
                
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="gestaoEsportiva.html">Gestão</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <form class="formulario">
                <label for="nome">Nome e Sobrenome</label>
                <input type="text" id="nome">

                <label for="email">Email</label>
                <input type="text" id="email">

                <label for="telefone">Telefone</label>
                <input type="number" id="telefone">

                <label for="mensagem">Mensagem</label>
                <input type="text" id="mensagem">

                <input type="submit" value="Enviar Formulário">
            </form>

        </main>
        <footer>
            <img src="images/Paper-pencil.png">
            <p class="copright">&copy;All Rights reserved Lopes Concept®</p>
        </footer>
    </body>
</html>