<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lopes Concept - Gestão Esportiva</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="reset.css">
    </head>
    <body>
        <header>
            <div class="caixa">
                <h1><img src="images/logo.jpeg" alt="logo" id="imageLogo"></h1>
                
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="gestaoEsportiva.html">Gestão</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main class="main">
            <ul class="servicos">
                <li>
                    <h2>Negociação de Contratos</h2>
                    <img src="images/Briefcase.png">
                    <p class="descricao">Analisamos minuciosamente os contratos <br>
                       de atletas, patrocínios, ligas e equipes.<br>
                    <button class="button">Saiba Mais</button>
                </li>
                <li>
                    <h2>Categorias e Ligas Esportivas</h2>
                    <img src="images/Person-group-add.png">
                    <p class="descricao">Gestão, reestruturação dos departamentos, <br> busca de novas parcerias, <br>
                        coordenação dos eventos esportivos.</p>                    
                    <button class="button">Saiba Mais</button>
                </li>
                <li>
                    <h2>Marketing Esportivo</h2>
                    <img src="images/Chat.png">
                    <p class="descricao">ROI, eventos esportivos, ativação <br>
                       de marcas, experiências para clientes<br>
                       e patrocinadores.</p>
                    <button class="button">Saiba Mais</button>
                </li>
            </ul>
        </main>
        <footer>
            <img src="images/Paper-pencil.png">
            <p class="copright">&copy;All Rights reserved Lopes Concept®</p>
        </footer>
    </body>
</html>