<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Lopes Concept - Gestão Esportiva</title>
        <link rel="stylesheet" href="gestaoEsportiva.css">
        <link rel="stylesheet" href="reset.css">
    </head>
    <body>
        <header>
            <div class="caixa">
                <h1><img src="images/logo.jpeg" alt="logo" id="imageLogo"></h1>
                
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="gestaoEsportiva.html">Gestão</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </header>

    </body>
</html>