<!DOCTYPE html>
<html lang="pt br">
    <head>
        <meta charset = "UTF-8">
        <meta name="viewport" content="width-device-width">
        <title>Lopes Concept Gestão Esportiva</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="reset.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
            <div class="caixa">
                <h1><img src="images/logo.jpeg" alt="logo" id="imageLogo"></h1>
                
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="gestaoEsportiva.html">Gestão</a></li>
                        <li><a href="contato.html">Contato</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <img src="images/bgLopes.jpeg" class="bgLopes">
        
        <main>
            <section class="principal">
                <h2 class="tituloPrincipal">Quem somos</h2>

                <img class="equipe" src="images/equipe.jpg" atl="Imagem Equipe Lopes Concept">

                <p><strong>Lopes Concept</strong> é uma empresa brasileira, sediada na cidade de São Paulo. Liderada pelos empresários 
                Wellington Ferreira Lopes e Juliana Martins de Oliveira.</p>

                <p>Com 20 anos no mercado esportivo, somos reconhecidos por revelar talentos e apoiadores.
                Trata-se de uma empresa especializada em gerenciar ligas e eventos esportivos em 360°.</p>

                <p id="objetivo"><em><strong>Nós buscamos unir nosso conhecimento, experiências e relacionamento no mercado esportivo para beneficiar atletas,
                patrocinadores, categorias e mídias.</strong></em></p>

                <p>Determinados a vencer, acreditamos no trabalho em equipe, nas parcerias e no relacionamento de longo prazo.
                Nossa gestão é embasada na ética, respeito, transparência e na seriedade de negócios.</p>
                </section>

            <section class="gestao">
                <h3 class="tituloPrincipal">Gestão Esportiva</h3>

                <div class="conteudoGestao">
                    <ul class="listaGestao">
                        <li class="itens">Categorias e Ligas Esportivas</li>
                        <li class="itens">Gestão de Imagem</li>
                        <li class="itens">Negociação de Contratos</li>
                        <li class="itens">Patrocínio</li>
                        <li class="itens">Marketing Esportivo</li>
                    </ul>
                    <img src="images/marcaLopes.jpeg"; class="imagemGestao">
                </div>

                <div class="video">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pnAxtZxgTns" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>
            </section>
            <section class="mapa">
                <h3 class="tituloPrincipal">Localização</h3>
                <p>Nosso escritório fica no coração do automobilismo, Interlagos.</p>
                <div class="mapa-conteudo"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d913.2781198844939!2d-46.69566877082101!3d-23.707676999038178!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce4fbbfc42b4a3%3A0x975d0ce96a5f998c!2sAv.%20Rubens%20Montanaro%20de%20Borba%2C%2050%20-%20Jardim%20Regis%2C%20S%C3%A3o%20Paulo%20-%20SP%2C%2004811-120!5e0!3m2!1spt-BR!2sbr!4v1674592811013!5m2!1spt-BR!2sbr" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            </section>
        </main>
            <footer>
                <img src="images/Paper-pencil.png" alt="Logo do Rodape">
                <p class="copright">&copy;All Rights reserved Lopes Concept®</p>
            </footer>
    </body>
</html>