<!DOCTYPE html>
<html lang="pt br">
    <meta charset = "UTF-8">
    <title>Lopes Concept Gestão Esportiva</title>

    <h1>Quem somos</h1>

    <p><strong>Lopes Concept</strong> é uma empresa brasileira, sediada na cidade de São Paulo. Liderada pelos empresários 
    Wellington Ferreira Lopes e Juliana Martins de Oliveira.</p>

    <p>Com 20 anos no mercado esportivo, somos reconhecidos por revelar talentos e apoiadores.
    Trata-se de uma empresa especializada em gerenciar ligas e eventos esportivos em 360°.</p>

    <p><em>Nós buscamos unir nosso conhecimento, experiências e relacionamento no mercado esportivo para beneficiar atletas,
    patrocinadores, categorias e mídias.</em></p>

    <p>Determinados a vencer, acreditamos no trabalho em equipe, nas parcerias e no relacionamento de longo prazo.
    Nossa gestão é embasada na ética, respeito, transparência e na seriedade de negócios.</p>
</html>