body{
    background: #000000;
}

.bgLopes {
    width: 100%;
}

.tituloCentralizado {
    
    text-align: center; 
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    
}

.tituloPrincipal {
    color:#FFFFFF;
    padding-left: 20px;

}


p {
    text-align: center;
    color: #FFFFFF;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

#objetivo {
    font-size: 20px;
    text-align: center;
}

em strong {
    color:  #FF0000;
}

.principal{
    padding: 30px;
}

.itens {
    font-style: italic;
    color: #FFFFFF;
}

.gestão {
    background: #FFFFFF;
    padding: 20px;
}

.imagemMarca{
    width: 50%;
}