header{
    background: #000000;
    padding: 20px 0;
}

.main {
    background-image: url("images/23627.jpg");
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 40px;
    right: 0px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #CCCCCC;
    text-decoration: underline;
}

#imageLogo{
    width: 20%;
    margin-left: -60px;
}

.servicos {
    width: 940px;
    margin: 0 auto;
    padding: 40px;
}

.servicos li {
    display:inline-block;
    text-align:center;
    width: 30%;
    vertical-align: middle;
    background: #CCCCCC;
    margin: 0 1,8%;
    padding: 30px 20px;
    box-sizing:border-box;
    border-color: #000000;
    border-width: 2px;
    border-style: dashed;
    border-radius: 10px;
}

.servicos li:hover {
    border: solid 2px #FFFFFF;

}

.sevicos li:active {
    border: solid 3px #ec0808;
}

.servicos li:hover h2 {
    font-size: 34px;
}

.servicos h2 {
    font-size: 30px;
    font-weight: bold;
}

.button {
    font-size: 15px;
    font-weight: bold;
    background-color: #CCCCCC;
    margin-top: 15px;    
}

footer {
    background-color: #000000;
    text-align: center;
    border-top: 3px #FFFFFF;
    color:#FFFFFF;
    padding: 40px 0;
}

.coprigth {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

main {
    width: 940px;
    margin: 0 auto;
}

.formulario {
    margin: 40px 0;
}

.formulario label {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.formulario input {
    display: block;
    margin: 20px;
    padding: 10px 25px;
    width: 50%;
}